body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{margin: 0px; padding: 0px; box-sizing: border-box; }
/* ul{list-style: none;} */
a{text-decoration: none;}
/* li{list-style: none;} */
:root{
    --primary-color: rgba(255, 166, 12, 1);
}

/* navbar section  */

.header-icons ul{list-style: none; display: flex; gap: 30px; justify-content: center; align-items: center; margin: 0% 30px 0% 0%;}
.header-icons a{text-decoration: none; color: black;}
.header-icons i{color: black; }
.header-icons .fa-heart{color: red;}
.search-box a{color: black; position: relative; top: 8px; right: 38px;}
.search-box input{border-radius: 100px; }
.navbar-light .navbar-nav{margin-left: 50px;}
.navbar-light .navbar-nav .nav-link {   color: black;}



/* hero section  */
.hero-section{padding: 0px;}
.hero-section img{width: 100%;}
.new-arrivel-heading{text-align: center; font-size: 2.5rem; text-transform: capitalize;}
.new-arrivel-heading span{color: var(--primary-color);}

.new-arrivel-heading-sec hr{margin: auto; width: 9rem;}


/* cards-section */
.card{width: 17rem !important;}
.cards-section{font-family: inters; flex-direction: row; padding: 0px 30px 60px 10px;}
.cards-section a{text-decoration: none; color: black; display: inline; width: 100%;}
.card{border: none}
.card-body{border: 1px solid rgba(218, 218, 218, 1); border-top: none; border-radius: 0px 0px 10px 10px;}
.rate{font-size: 1.375rem;}
.rate strike{opacity: 0.7;}


/* second section  */
.second-section{width: 91%; margin: 35px auto; flex-wrap: wrap; display: flex; justify-content: center; align-items: center;}
.second-section img{width: 100%;}
.second-section-sec-img{display: flex; gap: 31px;  flex-direction: column;}

/* catogery section  */
#category-section{padding: 40px 0px 60px 0px;}
#category-section ul{ flex-wrap: wrap; justify-content: center; align-items: center; list-style: none; gap: 20px;}
#category-section a{text-decoration: none; }
#category-section li{ width: min-content; text-align: center;}
#category-section img{margin-bottom: 10px; width: 190px;}
#category-section span{font-weight: 500; font-size: 17px;}

/* footer section  */
.footer{background-color: rgba(17, 17, 17, 1); color: white;}
.footer h6{font-size: 18px; margin-bottom: 20px;}
.footer li{font-size: 16px;}
.footer a{color: rgba(204, 204, 204, 1);}
.social a{color: white;}
.footer ul{padding: 0%;  list-style: none;}
.social ul{ display: flex; flex-direction: row; gap: 20px; list-style: none; flex-wrap: wrap;}
.upper-foot{padding:50px 60px;}


.bottom-foot{border-top: 2px solid rgba(68, 68, 68, 1);  padding: 50px 60px 80px 60px; color: white;}



/* filters page  */


/* navbar section  */
.navbar{border-bottom: 1px solid rgba(218, 218, 218, 1); box-shadow: 1px 1px 4px rgba(218, 218, 218, 1);}

/* filters section */
#filter-s{width: 29%;}
#filter-s h3{margin-left: 30px;}
#sizes-category ul{list-style: none; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 10px; padding: 10px 10px 20px 10px;}
#sizes-category li{border: 1px solid rgba(218, 218, 218, 1); background-color: rgba(250, 250, 250, 1); width: 38px; height: 38px;  display: flex; justify-content: center; align-items: center;}
#sizes-category a{text-decoration: none; color: black;padding: 5px; padding: auto;}
#sizes-plus{padding: 11px 16px;}
#sizes{border: 1px solid rgba(250, 250, 250, 1); background-color:rgba(255, 255, 255, 1);  margin-left: 31px;}
#sizes .sizes-con{border-bottom: 1px solid rgba(250, 250, 250, 1); }
#cat-fil ul{flex-direction: column; gap: 13px 0px; margin-top: 15px;}
#cat-fil-item{border: 1px solid rgba(250, 250, 250, 1); padding: 11px 16px;}


#Men-s-Plain{width: 71%;}
#Men-s-Plain-head{width: 827px; margin-left: 23px;}
#Men-s-Plain-head a{color: black;}
#Men-s-Plain-head div{padding-top: 8px;}
.f-h-i{position: absolute; bottom: 400px; left: 240px; color: red ; }
.f-h-i::before{background-color: transparent !important;}

.acc-drpdwn{margin-left: 15px;}
.acc-drpdwn a{display: none; color: black; padding: 3px 10px 3px 10px;}
.acc-drpdwn:hover { cursor: pointer;}
.acc-drpdwn:hover a{ display: block; cursor: pointer;}

.carousel-item{height: fit-content;}

/* product page  */
#bradcrumb{background-color: rgba(255, 166, 12, 1); padding: 20px 10px 8px 90px;}

#bradcrumb .breadcrumb{justify-content: center; align-items: center;}
.product-nav{border: none; box-shadow: none;}
/* #pro-img-sec{display: flex; flex-wrap: wrap; } */
.product-sec-main{margin-bottom: 60px;}
#pro-img-sec .product-img{width: 100%; padding: 0px 20px 30px 30px; }
#pro-img-sec .product-img img{width: 100%; }
#pro-img-ul li{width: 11vw;}
#pro-img-sec .pro-img{width: 100%;}
#pro-img-ul {display: flex; flex-wrap: wrap; flex-direction: row; list-style: none; gap: 20px; margin-top: 10px;} 


.rating{list-style: none; display: flex; gap: 10px; padding-left: 0px;}
.rating i{color: var(--primary-color);}
.rating li:nth-child(5) i{color: rgba(218, 218, 218, 1);}
.prdct-price{ font-weight: 400;}
.prdct-price strike{color: rgba(204, 204, 204, 1);}
.prdct-size span{font-size: 25px;}
.prdct-discount{width: fit-content; background-color: var(--primary-color); display: inline-block; color: white; padding: 4px 10px; border-radius: 5px;}
#color-category {list-style: none; display: flex; justify-content: left; gap: 10px; padding-left: 0px;}
#color-category #orange{background-color: rgba(255, 166, 12, 1); border: 1px solid rgba(255, 166, 12, 1);}
#color-category #red{background-color: rgba(255, 0, 0, 1); border: 1px solid rgba(255, 0, 0, 1);}
#color-category #green{background-color: rgba(39, 125, 63, 1); border: 1px solid rgba(39, 125, 63, 1);}
#color-category #blue{background-color: rgba(28, 116, 219, 1); border: 1px solid rgba(28, 116, 219, 1);}
#color-category #black{background-color: rgba(46, 46, 46, 1); border: 1px solid rgba(46, 46, 46, 1);}
#color-category #white{background-color: rgba(255, 255, 255, 1); border: 1px solid rgba(218, 218, 218, 1);}
#color-category li{height: 38px; width: 38px; }
#prdct-size{padding-left: 0px !important;}
.add-to-cart{color: white; background-color: rgba(0, 0, 0, 1); padding: 20px 90px; font-size: 25px; margin-top: 10px;border-radius: 5px;}
.cart-div{margin-top: 50px; }
.add-to-favourite{padding: 30px 20px 23px 20px; color: white; background-color: rgba(255, 0, 0, 1); border-radius: 5px; margin-left: 5px;}
#prdct-fil{padding: 0px 33px 10px 0px;}
.prdct-p{padding-right: 20px;}
.color-cat{font-size: 26px; padding-bottom: 7px;}

.like-off{position: absolute; top: -6px;}
.like-off span{background-color: var(--primary-color); padding: 1px 7px; font-size: 13px; border-radius: 5px; color: white;}
.like-off i{color: red; margin-left: 165px;}




/* customize page  */
.brdcrmb-sec{background-color: var(--primary-color); padding: 13px 30px;}
.brdcrmb-sec ul{list-style: none; display: flex; }
.back-btn{color: black; font-size: 16px; margin-right: 20px;}
.save-btn{color: rgba(255, 255, 255, 1); background-color: rgba(0, 0, 0, 1); font-size: 21px; padding: 10px 30px 15px 30px; border-radius: 5px;}
.frn-bk-btn{font-size: 17px; border-radius: 5px; padding: 6px 30px; font-size: 18px; margin-left: 6px;}
#frnt-btn{color: white; background-color: black;}
#back-btn{color: black; background-color: rgba(227, 227, 227, 1);}

.cstmz-img-con{width: min-content; margin: 75px auto 0px auto; }
.mgnfng{list-style: none; gap: 10px;}
.mgnfng li{border: 1px solid rgba(204, 204, 204, 1); border-radius: 5px; padding: 7px;}
.mgnfng a{ color: black; padding: 7px;}

.cstmz-side{background-color: rgba(250, 250, 250, 1); padding: 30px 20px;}
.chng-rmv a{color: black;}
.add-elmnt{list-style: none; display: flex; flex-wrap: wrap; gap: 10px; padding: 0px;  margin-top: 15px;}
.add-elmnt-div strong{font-size: 18px;}
.bg-clr-pick{background-color: rgba(12, 117, 35, 1); height: 62px; width: 62px; margin-bottom: 20px;}
.add-elmnt-list{border: 1px solid rgba(218, 218, 218, 1); width: 92px; font-size: 13px; height: 92px; padding: 10px; text-align: center; border-radius: 5px;}
.add-elmnt-list a{ color: black;} 
.add-elmnt-list i{margin-top: 5px;}
.add-elmnt-list span{display: block;}
.elmnt-design{margin-top: 40px;}
.elmnt-design-item{padding: 10px; border: 1px solid rgba(218, 218, 218, 1); border-radius: 5px; width: 90%; margin: 12px 0px; background-color: white;}

.DCD-container .row{display: flex;justify-content: center; align-items: center; padding: 50px;}
.DCD-container img{max-width: 100%;}
.DCD-container .col-md-6{display: flex; flex-direction: column; padding: 10px;}
.DCD-container .DCD-button{text-align: center; color: white; background-color: var(--primary-color); outline: none; border: none; font-size: 3vw;width: 100%;}


.Marvel-container img{width: 100vw; padding: 0%;}
.custmize-btn{color: white; background-color: black; text-align: center; margin-top: 14px; border-radius: 5px; padding: 10px 15px; font-size: x-large; width: 92%;}
.custmize-price{display: inline-block; width: max-content; margin-right: 20px;}
.custmize-price strike{color: #E5E5E5;}


/* Login page  */
.Login-container .row{margin: 2.8rem 0rem 6.6rem 0rem;}
.Login-container .row img{width: 100%; height: 100%;}
.Login-container .col-md-6{padding: 0%;}
.login-sec{background-color: rgba(250, 250, 250, 1); text-align: center; padding: 10px;}
.login-sec h4{text-transform: uppercase; font-weight: 380;}
.login-sec form{display: flex; flex-direction: column; gap: 20px; width: 70%; margin: 30px auto; margin-bottom: 8px;}
.login-sec input{padding: 15px; border: 1px solid rgba(218, 218, 218, 1); border-radius: 5px;}
.login-sec button{font-size: large; padding: 16px; width: 100%; background-color: var(--primary-color); color: white; border: none; border-radius: 5px;}
.login-sec .fa-facebook {color: rgba(28, 116, 219, 1);}
.login-sec .fa-google {color: red; margin-left: 1rem;}
.login-sec .orlogin{margin: 4rem 0rem 2rem 0rem;}
.login-with{padding-bottom: 1.5rem;}


/* Rgister page  */
.orRegister{margin: 20px 0px 26px 0px;}

/* Cart page  */
.cart-body .row{padding: 3rem 0px;}
.cart-body .row > h2{font-weight: 400; margin-bottom: 20px;}

.cart-item{border: 1px solid rgba(218, 218, 218, 1); border-radius: 5px; padding: 0rem 0rem 1.5rem 1.5rem; margin: 0px 0rem 1.8rem 0px;}
.cartimg {width: 9rem; height: fit-content; }
.cartimg img{width: 100%; height: 100%; border-radius: 20px;}
.cart-item .cart-content{padding-top: 1.5rem;}
.cart-item .item-content{margin-left: 1.5rem;}
.cart-item .remove_item{border: none; margin: 9px; border-radius: 5px; background-color: red; color: white; padding: 0px 10px 3px 10px; float: right;}
.prdct-price{color: var(--primary-color); font-weight: 380;}
.item-content select{margin: 0px 10px;}
.item-content #sizes{margin-left: 15px;}

.price_summery{border: 1px solid rgba(218, 218, 218, 1); border-radius: 5px;}
.price-container{padding: 0px 20px 30px 20px;}
.price_summery h5{background-color: rgba(250, 250, 250, 1); padding: 13px 30px; border-bottom: 1px solid rgba(218, 218, 218, 1);}
.price-detail ul{list-style: none; padding: 10px 0px 10px 0px;}
.price-detail li{margin: 7px 0px;}
.price-detail span{float: right;}
.total_price{font-weight: 400;}
.total_price span{color: var(--primary-color);}
.checkout_btn{color: white; background-color: var(--primary-color); padding: 10px; border: none; border-radius: 5px; width: 100%;}


/* checkout page  */
.cart-body .name-details,.address{border: 1px solid rgba(218, 218, 218, 1); background-color: rgba(250, 250, 250, 1); border-radius: 5px; padding: 2rem; margin-bottom: 20px;}
.name-detail ,.phone-otp , .address-details{display: flex; justify-content: space-between; flex-wrap: wrap;}
.fname, .lname {width: 49%;}
.phone-otp .phone{width: 74%;}
.phone-otp .otp{width: 24%;}
.address-details > div{width: 24.5%;}



@media(max-width:500px){
  body{font-size: 4vw;}
  h5{font-size: 100%;}
  .prdct-price{font-size: 110%;}
  .item-content select{margin: 0px 3px;}
  .navbar-brand img{width: 70%;}
  #bradcrumb{padding: 17px 0px 1px 10px;}
}